---
// This page will redirect to a happ:// URL
const response = await fetch('https://raw.githubusercontent.com/quazar-vpn/routing/refs/heads/main/RU.DEEPLINK');
const redirectUrl = await response.text();
---

<html lang="en">
<head>
    <meta charset="utf-8"/>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
    <meta name="viewport" content="width=device-width"/>
    <meta name="generator" content={Astro.generator}/>
    <title>✨Quazar Routing [RU]</title>
    <script define:vars={{redirectUrl}}>
        // Auto-redirect to the happ:// URL
        document.addEventListener('DOMContentLoaded', () => {
            // Attempt to redirect
            window.location.href = redirectUrl;

            // Set a timeout to show manual instructions if automatic redirect fails
            setTimeout(() => {
                document.getElementById('manual-instructions').style.display = 'block';
            }, 2000);
        });
    </script>
</head>
</html>